# Web Framework
fastapi
uvicorn[standard]

# Base de données
sqlmodel
psycopg2-binary
alembic

# Sécurité et Authentification
python-jose[cryptography]
passlib[argon2]
python-multipart

# Manipulation PDF et Cryptographie
pypdf
cryptography
pydantic[email]
reportlab